body{
    background-color: rgb(1, 1, 59);
}

h1{
	display: flex;
    justify-content: center;
}

.title{
    color:oldlace;
    padding-top: 2%;
}

section{
	display: flex;
	justify-content: center;
    padding: auto;
}

input{
    width: 500px;
    height: 25px;
    padding: 20px;
}


div{
    display: flex;
	justify-content: center;
}
/*
.box{
    background-image: linear-gradient(rgb(255, 123, 0), oldlace);
    width: 400px;
    height: 140px;
    padding-top: 10%;
}


.suggestions{
    background-image: linear-gradient(rgb(255, 123, 0), oldlace);
    width: 400px;
    display: block;
}
*/
.suggestions li {
    width: 500px;
    height: 190px;
    list-style: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
    margin: 20px;
    padding: 20px;
    transition: background 0.2s;
    display: block;
    justify-content: space-between;
    text-align: left;
    text-transform: capitalize;
  }
  
  .name{
    font-family: 'Exo', sans-serif;
    font-size: 23;
  }

  .address, .city, .zip{
    font-family: 'Lato', sans-serif;
    font-style: italic;
  }

  .suggestions li:nth-child(even) {
   
    background: linear-gradient(rgb(255, 123, 0), oldlace);
  }
  
  .suggestions li:nth-child(odd) {
    background: linear-gradient(to top,  #757575 0%,#EFEFEF 100%);
  }

.hl{
    background-color: rgb(255, 123, 0);
}
