body {
    background: #003a69;
    color: #fff;
    
  }

  h1{
    display: flex;
    justify-content: center;
  }

  
  
  .flex-outer,
  .flex-inner {
    list-style-type: none;
    padding: 0;
  }
  
  .flex-outer {
    max-width: 1100px;
    margin: 5% 2.5%;
  }
  
  .flex-outer li,
  .flex-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  .flex-inner {
    padding: 0 8px;
    justify-content: space-between;  
  }
  
  .flex-outer > li:not(:last-child) {
    margin-bottom: 20px;
  }
  

  .flex-outer > li > label,
  .flex-outer li p {
    flex: 1 0 120px;
    max-width: 320px;
  }
  
  .flex-outer > li > label + *,
  .flex-inner {
    flex: 1 0 220px;
  }
  
  .flex-outer li p {
    margin: 0;
  }
  
  .flex-outer li input:not([type='checkbox']),
  .flex-outer li textarea {
    padding: 15px;
    border: none;
  }
  

  
  .flex-inner li {
    width: 100px;
  }


 